<div class="container">
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <h1 class="text-center padding-top"><%= @hashtag.text %></h1>
      <br>
      <br>
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>
